<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home OAuth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home_styles.css')}}">
</head> 
<body>
    <div class="container">
    {% if session %}
        <h1 class="welcome">Welcome {{session.userinfo.name}}!</h1>
        <p><a href="/logout" class="btn btn-primary">Logout</a></p>
        <div><pre>{{pretty}}</pre></div>
    {% else %}
        <h1 class="welcome">Welcome Guest</h1>
        <p><a href="/login" class="btn btn-primary">Login</a></p>
    {% endif %}  
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>