{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
        <div class="text-start">
            {% if session %}
                <h1 class="mb-3">Welcome, {{ session.userinfo.name }}!</h1>
            {% else %}
                <h1 class="mb-3">Welcome!</h1>
            {% endif %}
            <p>I'm Jason.</p>
            <p class="m-1">This site is built with:</p>
            <p class="m-1">- <strong>Flask: </strong>Because I wanted something lightweight and simple.</p>
            <p class="m-1">- <strong>Digital Ocean: </strong>I am hosting this on a droplet. It was something that I wanted to learn about.</p>
            <p class="m-1">- <strong>JWT(currently disabled): </strong>I wanted to learn how to do authentication with this new modern approach.</p>
            <p class="m-1">- <strong>Flask-FlatPages: </strong>I wanted a very simple/lightweight CMS that I can host on the same droplet. 
            I went with flatpages because it integrated well with flask and I can host it locally. Also, using markdown language for formatting
            makes things very simple.</p>
            <p class="m-1">- <strong>Github Actions: </strong>I set up a CI/CD pipeline for easier deployment.
        </div>

        <h4 class="mt-5 mb-4 text-center">blog:</h4>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Button Container -->
                    <div class="tag-buttons d-flex flex-wrap justify-content-start mb-3">
                        <!-- 'All' Button -->
                        <button class="btn btn-outline-primary me-2 mb-2 active" data-tag="all">All</button>
        
                        <!-- Loop Through Tags -->
                         {# 
                        {% set all_tags = [] %}
                        {% for post in posts %}
                            {% for tag in post.meta.get('tags', []) %}
                                {% if tag not in all_tags %}
                                    {% set _ = all_tags.append(tag) %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        #}
                        {% set all_tags = ["haiku", "code", "life"] %}
                        <!-- Create Buttons for Tags -->
                        {% for tag in all_tags %}
                            <button class="btn btn-outline-primary me-2 mb-2" data-tag="{{ tag }}">{{ tag.capitalize() }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% for post in posts %}
            <article class="post" data-tags="{{ ' '.join(post.meta.get('tags') or []) }}">
                <h2>{{ post.meta.title }}</h2>
                <p class="text-muted">
                    <em>{{ post.meta.date }} | {{ post.meta.time}}</em>
                </p>
                <div class="content">
                    {{ post.html|safe }}
                </div>
                <hr>
            </article>
        {% endfor %}
    </div>

    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buttons = document.querySelectorAll('.tag-buttons button');
            const posts = document.querySelectorAll('.post');
        
            buttons.forEach(button => {
                button.addEventListener('click', function() {
                    // Remove 'active' class from all buttons
                    buttons.forEach(btn => btn.classList.remove('active'));
                    // Add 'active' class to the clicked button
                    this.classList.add('active');
                    const tag = this.getAttribute('data-tag');
        
                    posts.forEach(post => {
                        const postTags = post.getAttribute('data-tags') || '';
                        if (tag === 'all' || postTags.includes(tag)) {
                            post.style.display = 'block';
                        } else {
                            post.style.display = 'none';
                        }
                    });
                });
            });
        });
        </script>
{% endblock %}