{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    <h1>Reading list</h1>
    {% for genre, books in books_by_genre.items() %}
        <h2 class="mt-3">{{genre}}</h2>
        <div class="row">
            {% for book in books %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <h6 class="card-text mb-2 text-muted">{{ book.author }}</h6>
                            <p class="card-text">{{ book.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}